/* =========================
   QUICK.CSS
   Isi: Quick section
========================= */

.quick-section {
  padding: 2rem 1rem;
  background-color: var(--secondary-bg);
}

.quick-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.quick-card {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 2rem 1rem;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}

.quick-card:hover {
  background-color: var(--primary-bg);
}

.quick-card:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 2%;
  top: 0%;
  transform: translateY(-50%);
  height: 1px;
  width: 55%;
  background: #d8d8d8;
}

.quick-icon {
  width: 32px;
  height: 32px;
  color: var(--primary-text);
}

.quick-card h3 {
  font-size: 1.2rem;
  color: var(--primary-text);
  font-weight: 700;
}

@media (min-width: 880px) {
  .quick-card:not(:last-child)::after {
    right: 0;
    top: 50%;
    width: 1px;
    height: 55%;
  }
}
